In [1]:
import pandas as pd
import numpy as np

# 1) Crie um conjunto de dados com dois níveis hierárquicos de linhas e  colunas.

In [2]:
frame = pd.DataFrame(np.arange(20).reshape((4, 5)),
    index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
    columns=[['Cachorro', 'Cachorro', 'Gato', 'Gato', 'Gato'],
    ['Buldogue', 'Dobermann', 'Angora', 'Siames', 'SRD']])
frame

    Cachorro             Gato
    Buldogue Dobermann Angora Siames SRD
a 1        0         1      2      3   4
  2        5         6      7      8   9
b 1       10        11     12     13  14
  2       15        16     17     18  19

# 2) A partir dos conjunto de dados realize operações de soma, média, mínimo e máximo considerando os níveis de hierarquia das linhas.

In [3]:
frame.index.names = ['Chave1', 'Chave2']
frame.columns.names = ['Especie', 'Raca']
print(frame.sum(level='Chave2'))
print(frame.mean(level='Chave1'))
print(frame.mean(level='Chave2'))

Especie Cachorro             Gato
Raca    Buldogue Dobermann Angora Siames SRD
Chave2
1             10        12     14     16  18
2             20        22     24     26  28
Especie Cachorro             Gato
Raca    Buldogue Dobermann Angora Siames   SRD
Chave1
a            2.5       3.5    4.5    5.5   6.5
b           12.5      13.5   14.5   15.5  16.5
Especie Cachorro             Gato
Raca    Buldogue Dobermann Angora Siames   SRD
Chave2
1            5.0       6.0    7.0    8.0   9.0
2           10.0      11.0   12.0   13.0  14.0

C:\Users\luiza\AppData\Local\Temp\ipykernel_18428\390277294.py:3: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  print(frame.sum(level='Chave2'))
C:\Users\luiza\AppData\Local\Temp\ipykernel_18428\390277294.py:4: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  print(frame.mean(level='Chave1'))
C:\Users\luiza\AppData\Local\Temp\ipykernel_18428\390277294.py:5: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  print(frame.mean(level='Chave2'))

# 3) Agora realize uma agregação (soma, por exemplo) considerando uma das colunas, ou seja, axis=1.

In [4]:
frame.sum(level='Especie', axis=1)

C:\Users\luiza\AppData\Local\Temp\ipykernel_18428\1255033712.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  frame.sum(level='Especie', axis=1)

Especie        Cachorro  Gato
Chave1 Chave2
a      1              1     9
       2             11    24
b      1             21    39
       2             31    54

# 4) Crie dois conjuntos de dados (muitos-para-um) e aplique uma junção interna e uma junção externa.

In [5]:
df1 = pd.DataFrame({'Chave': ['vermelho', 'verde', 'azul'],
                    'valor': range(3)})
df2 = pd.DataFrame({'Chave': ['verde', 'verde', 'azul', 'vermelho', 'azul', 'vermelho', 'verde'],
                    'valor2': range(7)})
print(df1)
print(df2)
juncao = pd.merge(df1, df2, how='outer')
juncao

      Chave  valor
0  vermelho      0
1     verde      1
2      azul      2
      Chave  valor2
0     verde       0
1     verde       1
2      azul       2
3  vermelho       3
4      azul       4
5  vermelho       5
6     verde       6

      Chave  valor  valor2
0  vermelho      0       3
1  vermelho      0       5
2     verde      1       0
3     verde      1       1
4     verde      1       6
5      azul      2       2
6      azul      2       4

# 5) Localize linhas do conjunto de dados combinado considerando determinado critério de localização.

In [7]:
juncao.loc[(juncao['Chave']=='azul') & (juncao['valor2']==4.0), ['valor2']]

   valor2
6       4

# 6) Com base no conjunto de dados abaixo realize algumas consultas utilizando o método loc.

In [12]:
df = pd.DataFrame({'Age': [30, 20, 22, 40, 32, 28, 39],
              'Color': ['Blue', 'Green', 'Red', 'White', 'Gray', 'Black','Red'],
              'Food': ['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese', 'Melon', 'Beans'],
              'Height': [165, 170, 120, 80, 180, 172, 150],
              'Score': [4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2],
              'State': ['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']
              },
              index=['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean',
                     'Christina', 'John'])
df

print(df.loc[df['Height'] < 170, ['State']])
print(df.loc[df['Age'] < 35, ['Food', 'Score']])

         State
Jane        NY
Aaron       FL
Penelope    AL
John        TX
             Food  Score
Jane        Steak    4.6
Nick         Lamb    8.3
Aaron       Mango    9.0
Dean       Cheese    1.8
Christina   Melon    9.5

# 7) Crie três conjuntos de dados para representar uma relação N:M (Médico, Paciente e Consulta). A partir dos conjuntos realize a integração (merge).

In [18]:
medico = pd.DataFrame({'idM': ['1','2'],
                    'NomeM': ['Joao','Ana']})
medico

paciente = pd.DataFrame({'idP': ['a','b','c'],
                    'NomeP': ['Teresa','Maria','Mario']})
paciente

consulta = pd.DataFrame({'idM': ['1','2','1','2','2'],
                    'idP': ['a','b','c','a','b'],
                    'Data':['05/10/2022','05/10/2022','04/10/2022','04/10/2022','03/10/2022']})
consulta

res = pd.merge(medico, consulta, on='idM').merge(paciente, on='idP')
res[['idM','NomeM','idP','NomeP','Data']]

  idM NomeM idP   NomeP        Data
0   1  Joao   a  Teresa  05/10/2022
1   2   Ana   a  Teresa  04/10/2022
2   1  Joao   c   Mario  04/10/2022
3   2   Ana   b   Maria  05/10/2022
4   2   Ana   b   Maria  03/10/2022