In [1]:
dataset = [['cafe', 'pao', 'manteiga'],
        ['leite', 'cerveja', 'pao', 'manteiga'],
        ['cafe', 'pao', 'manteiga'],
        ['leite', 'cafe', 'pao', 'manteiga'],
        ['cerveja'],
        ['manteiga'],
        ['pao'],
        ['feijao'],
        ['arroz', 'feijao'],
        ['arroz']]

In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

   arroz   cafe  cerveja  feijao  leite  manteiga    pao
0  False   True    False   False  False      True   True
1  False  False     True   False   True      True   True
2  False   True    False   False  False      True   True
3  False   True    False   False   True      True   True
4  False  False     True   False  False     False  False
5  False  False    False   False  False      True  False
6  False  False    False   False  False     False   True
7  False  False    False    True  False     False  False
8   True  False    False    True  False     False  False
9   True  False    False   False  False     False  False

In [4]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [5]:
frequent_itemsets = apriori(df, min_support=0.3, use_colnames=True)

In [6]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.75)
rules.head(30)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(cafe),(manteiga),0.3,0.5,0.3,1.0,2.0,0.15,inf
1,(cafe),(pao),0.3,0.5,0.3,1.0,2.0,0.15,inf
2,(manteiga),(pao),0.5,0.5,0.4,0.8,1.6,0.15,2.5
3,(pao),(manteiga),0.5,0.5,0.4,0.8,1.6,0.15,2.5
4,"(cafe, manteiga)",(pao),0.3,0.5,0.3,1.0,2.0,0.15,inf
5,"(cafe, pao)",(manteiga),0.3,0.5,0.3,1.0,2.0,0.15,inf
6,(cafe),"(manteiga, pao)",0.3,0.4,0.3,1.0,2.5,0.18,inf

In [7]:
res = rules[ (rules['lift'] >= 2) &
       (rules['confidence'] >= 0.8) ]

In [8]:
res.to_csv('metricas.csv')